.mini-cart-list {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  position: absolute;
  right: 50%;
  top: 100%;
  z-index: 2;
  background-color: #fff;
  max-height: 60vh;
  padding: 0rem 2rem;
  width: 410px;
}

.mini-cart-items-container {
  height: 65%;
  overflow-y: scroll;
}

.mini-cart-item {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.mini-cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  padding-left: 0.5rem;
}

.mini-cart-item-counter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 1.5rem;
}

.mini-cart-item-image img {
  object-fit: cover;
  /* width: 150px; */
  height: 157px;
}

.increment,
.decrement {
  background: none;
  color: inherit;
  border: 2px solid rgb(0, 0, 0);
  padding: 0.2rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.item-size {
  padding: 0.2rem;
  border: 2px solid black;
}

.empty-mini-cart {
  text-align: center;
  padding: 0rem 1rem 1rem 1rem;
}

.total-price {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.cart-control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.cart-control .checkout {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.checkout:hover {
  opacity: 0.7;
}

.btn-bag {
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 16px 32px;
  margin-right: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-bag:hover {
  opacity: 0.7;
}

.item-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.delete-product {
  background-color: rgb(214, 19, 19);
  color: rgb(252, 252, 252);
  padding: 0.2rem;
  border: 4px solid rgb(214, 19, 19);
  margin-bottom: 0.4rem;
  font-size: 16px;
  cursor: pointer;
}

.item-price {
  display: flex;
}

.price {
  display: flex;
}
