.products-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  margin: 3rem 2rem;
}

.products-item {
  margin: 0.5rem;
}

.products-item:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.unavailable-product {
  opacity: 0.5;
  position: relative;
}

.unavailable-product .out-of-stock {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
}

.product {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-list-price {
  font-weight: 500;
}

.product-amount {
  display: flex;
  margin-top: 5px;
}
