.product-container {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  margin-top: 3rem;
  margin-right: 4rem;
}

.product-status {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.product-info {
  margin-bottom: 1rem;
}

.attributes-container {
  margin-bottom: 1rem;
}

.attributes-list {
  display: flex;
  flex-flow: row wrap;
}

.attributes-list .attribute {
  cursor: pointer;
  padding: 0.7rem;
  margin-top: 0.7rem;
  margin-right: 1rem;
  border: 1px solid black;
  opacity: 0.5;
}

.activated-attribute {
  background-color: #000000;
  color: white;
  cursor: pointer;
  padding: 0.7rem;
  margin-top: 0.7rem;
  margin-right: 1rem;
  border: 1px solid #000000;
  opacity: none;
  box-shadow: 0px 2px 3px 0px rgb(121, 117, 117);
}

.color {
  padding: 0.3rem;
}

.add-product {
  height: 52px;
  width: 292px;
  border-radius: 0px;
  padding: 16px, 32px, 16px, 32px;
  margin-bottom: 2rem;
}

.add-product button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.add-product button:hover {
  opacity: 0.7;
}

.product-price {
  margin-bottom: 1rem;
}

.product-image-container {
  width: 50%;
}

.product-image-container img {
  height: 311px;
  width: 100%;
}

.product-image-item {
  width: 170px;
  height: 90px;
  margin-bottom: 1rem;
}

.product-image-item img {
  height: 100%;
}

.product-images-list {
  margin-top: 2rem;
}

.description-list li {
  font-size: 1.17em;
  margin-bottom: 0.5rem;
  list-style: inside;
}

.description-list p {
  margin-bottom: 1rem;
}
