.categories-list {
  margin-left: 3rem;
  display: flex;
}

.categories-list span {
  position: relative;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: none;
  cursor: pointer;
}

.underline-overlay {
  color: #30e324;
}
