* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

img {
  width: 200px;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

a.active {
  color: #30e324;
}

a.active::before {
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 2px;
  background-color: #30e324;
}
